.container {
	margin:20px !important;
	padding: 0px !important;
}
.navbar {
	margin:20px !important;
	padding: 0px !important;
}
#logo a:hover {
	text-decoration: none !important;
}

.text-mute {
    margin-top: 0;
    margin-bottom: 0;
}

.mr-2, .mx-2 {
    margin-right: 0px !important;
}

/* --------드래그메뉴-------- */
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #F1C8BE;
  color: #fff;
}
/* --------드래그메뉴-------- */
h1{
    font-family: 'Lora';
    color:#F1C8BE;
}